" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" " Suggested options "
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
syntax on		      " Enable syntax highlighting


" Do incremental searching.
set incsearch
set cursorline
set inccommand=nosplit
set nohlsearch                 " Highlight search results

" Indentation settings
set tabstop=4                 " Number of visual spaces per TAB
set shiftwidth=4              " Number of spaces to use for autoindent
set expandtab                 " Convert tabs to spaces
set smartindent               " Enable smart indent

" Don't use Ex mode, use Q for formatting.
map Q gq

" "- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" " Map IDE actions to IdeaVim " https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


let mapleader = " "
" Map Ctrl+S to save file
nnoremap <C-s> :w<CR> 
" When moving up center the cursor on the screen
nnoremap <c-u>, <c-u>zz
" When moving down center the cursor on the screen
nnoremap <c-d> <c-d>zz

" When jumping X lines up, center the cursor on the screen
nnoremap k kzz
" When jumping X lines down, center the cursor on the screen
nnoremap j jzz

" When searching keep the cursor in the middle
nnoremap n nzzzv
nnoremap N Nzzzv

" When jumping to next occurnce of word, center the cursor on the screen 
nnoremap * *zz

" Move line up a and move cursor to original position
nnoremap J mzJ`z
" Reverse J
nnoremap <c-j> f,wi<enter><esc>

" Ensure showing a method name when jumping up to its starting clause
nnoremap % %<Up><Down>

" Select entire contents of file
nnoremap <c-a> ggvG$

" Copy to system clipboard
nnoremap <leader>y \"+y
vnoremap <leader>y \"+y
" nnoremap <leader>Y \"+Y

" Move highligted line(s) up or down
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Paste from system clipboard
nnoremap <leader>p \"+p
vnoremap <leader>p \"+p

" Replace word in file
nnoremap <leader>s :%s/<C-r><C-w>/<C-r><C-w>/gI<left><left><left>

" Delete into void register and then insert 
xnoremap <leader>p \"_dP
" Delete into void register
nnoremap <leader>d \"_d
vnoremap <leader>d \"_d

" Mapping to call LazyGit
nnoremap <leader>lg :LazyGit<enter>

nnoremap Q <nop>
